/* Color Scheme Link : https://coolors.co/363d45-a1b5d8-fffcf7-e4f0d0-c2d8b9
Charcoal: #363D45
Wild Blue Yonder: #a1b5d8
Floral White: #fffcf7
Nyanza: #e4f0d0 (light green)
Tea Green: C2d8b9

font-family: 'Boogaloo', cursive;
font-family: 'Noto Sans JP', sans-serif;

Font Ideas: Boogaloo, Patrick Hand, Lobster Two
*/

body {
  font-family: 'Noto Sans JP', Tahoma, sans-serif; 
  font-size: 18px;
  background-color: #c2d8b9;

}

.content {
  padding: 1em;
  margin: 0 auto;
  line-height: 1.8em;
  background-color: #fffcf7;
  color: #363d45;

}

h1 {
  font-family: 'Boogaloo', cursive;
  color: #363d45;
  background-color: #a1b5d8;
    
}

h2 {
  color: #363d45;
  /* background-color: #FFC100; */
  font-family: 'Noto Sans JP', sans-serif;
  /* text-decoration-line: underline overline;
  text-decoration-color:#FFC100; */
   }

h3 {
  font-family: 'Boogaloo', cursive;
  color: #363d45;
  background-color: #e4f0d0;
  
}
h4 {
  background-color:#363d45;
  color: #fffcf7;
  padding: 0 .75em;
}

h5 {
  background-color: #ffc100;
  color: #363d45;
  padding: 0 .75em;
}

p {
  padding: 0 .5em;
}

hr {
  /* color: #FFC100; */
  border: 5px solid #ffc100;
  

}

nav {
   background-color: #363d45;
  text-align: center;
  
}

nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
 
}
  
nav ul li a {
  display:block;
  color:#E4F0D0;
  text-align: center;
  text-decoration: none;
  padding: .75em;
 
 
}

nav a:hover { 
  color: #363d45;
  background: #E4F0D0
 }

footer {
  margin-top: -1em;
  text-align: center;
  background: #e4f0d0;
}

.indexTitle {
  display: block;
  text-align: center;
  height: 6em;
  background-color: #a1b5d8;
  margin-bottom: -1.5em;  
}
.indexUpdate {
  color: #344966;
  
}  
  
/* css codes for the index page only
   */

.indexPurpose {
  background-color: #a1b5d8;
  padding-bottom: 1em;
}

.indexDomain {
  background-color: #a1b5d8;
  padding-bottom: 1em;
}


/* css codes for the color scheme page
   */
.color1 {
  background-color:#363D45;
  color: #fffcf7;
  padding: 2.5em;
  margin: .5em;
}

.color2 {
  background-color:#ffc100;
  color: #363D45;
  padding: 2.5em;
  margin: .5em;
}

.color3 {
  background-color:#a1b5d8;
  color: #363D45;
  padding: 2.5em;
  margin: .5em;
}

.color4 {
  background-color:#fffcf7;
  color: #363D45;
  padding: 2.5em;
  margin: .5em;

 }
.color5 {
  background-color:#e4f0d0;
  color: #363D45;
  padding: 2.5em;
  margin: .5em;
}
.color6 {
  background-color:#c2d8b9;
  color: #363D45;
  padding: 2.5em;
  margin: .5em;
}

