div.cards{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    max-width: 350px;
    margin: auto;
}

.cards section {
    border: solid 1px black;
}

img{
    margin: 5px;
    box-shadow: 0 0 10px 5px black;
    max-width: 200px;
}
 
@media only screen and (min-width: 481px) {

    div.cards {
        grid-template-columns: 1fr 1fr;
        
    }
} 

@media only screen and (min-width: 1024px) {

    div.cards {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    }