
div.cards {
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
    grid-ga
}


@media (min-width: 481px){

    div.cards {
        grid-template-columns:  1fr 1fr;
    
    }
}

@media (min-width: 1024px) {

    div.cards {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
    
