@media (min-width: 1024px){

/************GENERAL WEBSITE FORMATS***********/
.content {
    max-width: 1000px;
}

.pageTitle{
    font-size: 2em;
}


/**************HEADER/NAVIGATION**************/
.titleBar{
    display: inline;
}
.contact-social {
    display:flex;
    background-color: #336a85;
    padding: .25em;
    position: relative;
    height: 1.2em;
}

.contact-social a{
    color:#e8e8e8;
}

.contact-social a:visited{
    color:#94b1c5;
}

.topSocial img{
    /* max-width: 1em; */
    display: inline;
    margin:auto;
    padding: 2px;
}

.topSocial {
    position:absolute;
    right: 1em;
    top: -.15em;
}

.topBarContact {
    color: #e8e8e8;
    font-size: .75em;
    position: absolute;
    left: 1em;
}

.topContact a{
    color: #e8e8e8;
    font-size: .75em;
}

.titleBarLg{
    display:grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    position: relative;
    height: 7em;
}

nav {
    grid-column: 2/3;
    padding: .25em;
    display: block;
    
    
}

.navDiv {
    position:absolute;
    top: 4.25em;
    right: 1em;

}

/* .navigation ul{
    position:absolute;
    top: 4.25em;
    right: 1em;     
} */

.navigation li {
    display: inline-block; 
    font-size: 1.10em; 
    padding: .25em;   
    
}

.logoImg {
    padding: .25em;
    margin: 4px;
    height: 5.25em;
}

.mainLogoImg {
    grid-column: 1/2;
    display: block;
    position:absolute;
    left: 1em;
    top: .5em;

}

header {
    text-align: left;
    align-items: center;
}




/**************FOOTER**************/
.bottomSection {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr;
    grid-gap: 5px;
}

.contactGrid {
    grid-column: 1/2;
    border: 3px solid #336a85;
}

.eventsGrid {
    display: block;
    grid-column: 2/3;
    border: 3px solid #336a85;

}

.followGrid {
    grid-column: 3/4;
    border: 3px solid #336a85;
    
}


/***********HOMEPAGE-CONTENT*************/

.goals {
    height: 13em;
}

.currentH3{

    padding-top: 1.5em;
    
}

.forecastH3{
    
    padding-top: 1.5em;
    
}

#currentWeather{
    font-size: 1.25em;

}

.adSection h3{
    height: auto;
    padding: 1.5em .5em .5em .5em;
}

/***********CONTACT US-CONTENT*************/

/*--------information table---------*/

  /*--------contact form---------*/
  .contactFormHead {
      font-size: 1.75rem;
        }

  form label.topContact {
    font-size: 1.15rem;
  }
  
  form label.topContact input {
    font-size: 1.25rem;
    }


  .contactFormHead {
      font-size: 1.5rem;
  }
  
  label.commentsContact {
    font-size: 1.25rem;
  } 

  form input.contactBtn{
    
    font-size: 1.5em;
    padding: 1rem 1.5rem;
    margin: 1em 0 1em 0;
     }


/***********DIRECTORY-CONTENT*************/
  
.directLogo {
    width:75px;
    padding-bottom: .25em;
  }
  
  .directSection{
    border: 2px solid #94b1c5;
    padding: 0 .5em .5em .5em;
    margin: .5em;
  }
  
  /*--------grid and list formating---------*/


  #directGridIcon2 {
      display: inline;
  }
  
}