@media (min-width: 520px){

/*
font-family: 'BioRhyme', serif;
font-family: 'Nunito', sans-serif;
https://www.color-hex.com/color-palette/81433
burgundy  #633836 (99, 56, 54)—Header 1
dark gray #485051 (72, 80, 81)—Body Text
dark teal #336a85 (51, 106, 133)--- Header 2 background
powder blue #94b1c5 (148, 177, 197)—colored background
medium gray #ababab (171, 171, 171)---colored background
light gray #D5D5D5---colored background and heading

*/


/************GENERAL WEBSITE FORMATS***********/


.pageTitle{
    font-size: 1.75em;
}

h2 {
    text-align: left;
}

/**************HEADER/NAVIGATION**************/

header {
    font-size: 1.5em;
    font-weight: bold;
}

.titleBar {
    display: inline-block;
    margin: auto;
}

.logoImg {
    padding: .5em;
}

#mainLogoImg {
    display:inline-block;
}

.mainLogoImg a:hover{
    box-shadow: 0px 0px 20px 5px #336a85;
}


.navigation li {
    display: inline-block;        
    font-size: .75em;
}

.navigation a {
   padding: .5em;
   text-align: center;
 }
 
 #menuHome{   /* Hide Home list Item */
     display:none;
 }
 

/*----small navigation-----*/

.navSm {  
    display:none;
}

.smallHomeHead {
    display: none;
}


/**************FOOTER**************/
.bottomSection {
    display:grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr;
    grid-gap: 5px;
}

.contactGrid {
    grid-column: 1/2;
}

.eventsGrid {
    display: none;
}

.followGrid {
    grid-column: 2/3;
}


   
/***********HOMEPAGE-CONTENT*************/
.content{
    max-width: 95%;
    padding:1em;
    margin:auto;
}


/*--------joinUs---------*/

.slideShowDiv{
    position:relative;
}

.joinUsAction{
    background-color:#633836;
    color:white;
    text-align: center;
    position:absolute;
    right: 1em;
    bottom: 1em;
    border: 5px solid white;
    opacity: 85%;
}

.joinUsAction a{
    color:white;
    padding: .75em;
    
}

.joinUsAction a:hover{
    padding: .75em;
    background-color: #336a85;
}


.joinUsAction a:visited{
    padding: .75em;
    opacity: 50%;
}

/*--------goals---------*/

.goalsSection {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.goals {
    
    font-size: .75em;
    font-weight: bold;
    height: 25em;
}

.goals hr {
    display:none;
}

/*--------weather---------*/

.weather {
    display:grid;
    grid-template-columns: 1fr 3fr;
    background-color:#d5d5d5;
    grid-gap: 5px;
    

}

.currentH3{
    grid-column: 1/2;
    grid-row: 1/2;
        
}

.forecastH3{
    grid-column: 2/3;
    grid-row: 1/2;
        
}

#currentWeather{
    grid-column: 1/2;
    grid-row: 2/3;
    padding: .75em;
    font-size: 1em;
    line-height: 1.5em;
}


.forecastWeather{
    grid-column: 2/3;
    grid-row: 2/3;
    
}

.forecastSection0, .forecastSection1, .forecastSection2{
    margin: 0;
    font-size: 1.5em;
    padding: 2em 0;
}


#currentIcon img{
    display: block;
    margin: auto;
}


    


/*--------article---------*/
.articleImg {
    /* max-width:95%; */
    float: left;
    margin: auto;
}


/*--------advertisements---------*/

.adImg {
    display: block;
    margin: auto;
    border: 5px solid #633836;
    width: 100%;
}

.adSection {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.adSection h3 {
    height: 2.25em;
}

/***********CONTACT US-CONTENT*************/

/*--------information table---------*/

.contactTableInfo {
    font-size: 1.25em;
      }
  
  /*--------contact form---------*/
  .contactFormHead {
      font-size: 1.75rem;
        }

  form label.topContact {
    font-size: 1.15rem;
  }
  
  form label.topContact input {
    font-size: 1.25rem;
    }


  .contactFormHead {
      font-size: 1.5rem;
  }
  
  label.commentsContact {
    font-size: 1.25rem;
  } 

  form input.contactBtn{
    
    font-size: 1.5em;
    padding: 1rem 1.5rem;
    margin: 1em 0 1em 0;
     }

.thankYouDiv {
    background-color: #d5d5d5;
    padding: 4em;
}


  /*--------directors table---------*/

  .directorsHead {
      font-size: 1.75em;
      /* padding-bottom:0; */
      margin: .2em;
  }
  
  .directorsTable th {
    padding-top: .75em;
    padding-bottom: .75em;
    text-align: left;
    background-color: #633836;
    color: #d5d5d5;
    border: 2px solid #94b1c5;
  }

  
  .directorsTable {
    border: 2px solid #94b1c5;
    font-size: 1.25em;
    max-width: 35em;
  }
  
  .directorsTable td {
    border: 2px solid #94b1c5;
    padding: .5em;
  }
  
  .directorsTable tr:nth-child(odd){background-color: #94b1c5;}
  
/***********MAPLETON CITY-CONTENT*************/

  img.city-img {
    display:inline;
    margin: auto;
    /* max-width: 100%; */
    padding: .25em;
}

.cityH2{
  font-size: 1.5em;
}

/*--------Events table---------*/

.cityEventsList {
  font-size: 1em;
  background-color:#d5d5d5;
  line-height: 1.5em;
}

#parade {
    float:right;
    top: 3em;
    right: .25em;
    width: 250px;

}
/*--------demographics table---------*/
.cityDemoList {
  font-size: 1em;
  background-color:#d5d5d5;
  line-height: 1.5em;
}

/*--------history section---------*/
.school-bell {
    float:right;
    right: 2px;
    padding: 1em;

}

.pioneer-house {
    float:left;
    left: 2px;
    width: 200px;
    padding: 1em;

}

/*--------City Today---------*/
.path {
    float:left;
    left: 2px;
    width: 300px;
    padding: 1em;

}

.park {
    float:right;
    right: 2px;
    width: 250px;
    padding: 1em;
}

.city-hall2 {
    float:left;
    left: 2px;
    width: 200px;
    padding: 1em;

}


/*--------city future---------*/
.new-houses {
    float:right;
    right: 2px;
    width: 200px;
    padding: 1em;

}

.school {
    float:left;
    left: 2px;
    width: 250px;
    padding: 1em;

}

/***********DIRECTORY-CONTENT*************/
  
  
  .companyDiv{
    /* border: none; */
    padding: 0 .5em .5em .5em;
    margin: .5em;
    
  }
  
  /*--------grid and list formating---------*/
  #directButtons{
    display:inline;
    /* padding: .5em */
  }

  #directGridIcon2 {
      display: none;
  }

  

  .directGrid {
      display:grid;
      grid-gap: 5px;
      /* background-color: #94b1c5; */
    /* background-color: #2196F3 */
      
  }
  




/***********MEDIUM-PAGE-MINOR-ADJUSTMENTS*************/
@media (min-width: 650px){
    
    .navigation li {   
        font-size: .85em;
    }

    .goals {
        font-size: .85em;
        height: 19em;
    }

    .joinUsAction{
        font-size: 1.5em;
    }

    .joinUsAction a{
        padding: 1em; 
        font-size: 1.5em;
    }
    
    .joinUsAction a:hover{
        padding: 1em;
        background-color: #336a85;
    }
    
    .joinUsAction a:visited{
        padding: 1em;
        
        
    }
    
   }

   @media (min-width: 725px){
    .navigation li {   
        font-size: 1em;
        padding: 0 .5em;
    }

    .goals {
    
        font-size: 1em;
        height: 16em;
    }

    .joinUsAction a{
        font-size: 1.75em;
    }
   }





}