@media (min-width: 32.5rem){


  .content {
    max-width: 90%;
  }

/* Navigation scaling adjustments for Medium*/

  nav {
    max-width: 960px;
    padding: .3em;
    margin: 0;
    justify-content: center;
    text-align: center;
  }

  
   .navigation {
    display: flex;
    
  }
  
  .navigation li {
    display: flex;
    flex: 1 1 auto;
   
  }
  
  .navigation a {
    font-size: 1rem;
    text-align: left;
  }
  
  .navigation li:first-child {
    display: none;
  }
  
  
  /* Headings formats */
  
  h1 {
    font-size: 2.25rem;
    padding: .75em .5em;
    
  }
  
  h2 {
   
    font-size: 1.75rem;
    padding: .5em
  }
  
  h3 {
    font-family: 'Boogaloo', cursive;
    font-size: 1.5rem;
    color: #363d45;
    background-color: #e4f0d0;
    padding: .5em;
  }
  
  h4{
    padding: .5em;
  }
  
/* Heading Bar css*/

.headerTitle {
  font-size: 2.5em;
  padding: .2em;
  }

.headerTagline {
    font-size: 1.15em;
}

/* pancakes css */

#pancakes {
  font-size: 1.1em;
  font-weight: bold;
  padding: .5em;
  line-height: 1.1em;

}

/* Main CSS */

.mainHeading {
  font-family: 'Boogaloo', cursive;
  color: #363d45;
  background-color: #a1b5d8;
  display: block;
  font-size: 2.25em;
  padding: .25em;
}

.weatherSummary {
  display: block;
  position: absolute;
  left: 1em;
  background-color: #F9BE51 50%;
  border: #363d45 solid 5px;

}

.gridForecast{
  padding: 15px;
  font-size: 1.5em;
}

.day1 img {
  width: 90px;
}
.day2 img {
  width: 90px;
}
.day3 img {
  width: 90px;
}
.day4 img {
  width: 90px;
}
.day5 img {
  width: 90px;
}
  
.articleImg1 {
  display: none
}

.articleImg2 {
  display: inline;
  float: right;
  width: 40%;
  margin: 3px;
}


/* 
  Main footer css */
 
  .footerBar {
    padding: .75em;
    font-size: .9em;
    line-height: 1.25em;
    background:#a1b5d8;
  }

  
  .currentDate {
    font-size: 75%;
  }  
  
}
  